<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5f2c6f23-0be4-4a29-b032-6d3d845b2df6"
            Publisher="CN=Alexander"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Pacman</DisplayName>
    <PublisherDisplayName>Alexander</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Pacman</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Pacman.App">
        <VisualElements
            DisplayName="Pacman"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Pacman"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>